<%- layout('layout') -%>
<div class="container">
  <hr>
  <div id="frames" class="container">
    <div id="index" class="row-fluid">
      <div class="span9 e">
        <%- content %>
      </div>
      <div class="span3">
        Cypher - это декларативный язык запросов в графовых системах, используемый в СУБД neo4j. Термин «декларативный» означает, что на этом языке вы сообщаете о том, что хотите получить, а не то, как это сделать. Другими словами, вам не нужно выполнять обход графа для получения нужной информации, это сделает за вас оптимизатор запросов. Здесь есть свои плюсы и минусы. Безусловным плюсом является то, что вам не придется переписывать запросы, встроенные в приложение, при изменении физической структуры графа. Недостатком, как и для любых декларативных языков, является то, что оптимизатор не всегда способен найти наиболее эффективный план выполнения запроса. А потому для написания высоко производительных запросов программисту потребуются знания принципов работы оптимизатора.

        Мы приглашаем вас познакомиться с этим языком и приобщиться к миру современных нереляционных баз данных, объединенных аббревиатурой noSQL, что в вольном переводе означает «не SQL единым живет мир баз данных».

        Здесь используются и развиваются те же идеи, которым мы следовали в рамках проекта SQL-EX.RU, а именно, язык осваивается на практике через решение упражнений.

        Присоединяйтесь!
      </div>
    </div>
  </div>
</div>
