<div class="row">
  <div class="span4">
    <div>Page: {{pagination.page+1}} of {{pagination.lastPage}}</div>
    <div>Containing: {{data.list.length}} item(s) of {{pagination.total}}</div>
  </div>
  <div class="span4">
    <a href="#!materials-edit/new?lang={{temp.lang.id}}" class="btn btn-primary">create...</a>
  </div>
</div>

<div class="row">
  <div class="span5">
    <div pagination="data.list" page="pagination.page" size="pagination.size" total="pagination.total"
         last-page="pagination.last"></div>
  </div>
  <div class="span5">
    <label for="lang">language
      <select id='lang' data-ng-options="o.name for o in materialLangs" data-ng-model="temp.lang" ng-change="ask()">
      </select>
    </label>
  </div>
</div>

<table class="table">
  <thead>
  <th>#</th>
  <th>Title</th>
  <th>Url</th>
  <th>Privacy</th>
  <th>Author</th>
  <th>Created</th>
  <th>---</th>
  </thead>

  <tr ng-repeat="(index, item) in data.list | pagination:pagination.page:pagination.size">
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>{{item.url}}</td>
    <td>{{item.privacy}}</td>
    <td>{{item.author}}</td>
    <td>{{item.dtcreated}}</td>
    <td><a href="#!/materials-edit/{{item.id}}">edit</a></td>
  </tr>
</table>